<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Page - Linear Menu</title>
    <link rel = "stylesheet" href = "static/next.css">
</head>
<body>

    <h1>Choose Quiz Subject</h1>
    <h2>Welcome QuizMaster!</h2>

    <div class="options" id="launcher">
        Click here to choose subject
    </div>

    <div class="subject-menu" id="menu">
        <a href="quizplay"><button class="subjectbutton">Science</button></a>
        <a href="quizplay"><button class="subjectbutton">Literature</button></a>
        <a href="quizplay"><button class="subjectbutton">Maths</button></a>
        <a href="quizplay"><button class="subjectbutton">General Knowledge</button></a>
        <a href="quizplay"><button class="subjectbutton">IT</button></a>
    </div>
    <div class="ribbon-container">
        <div class="ribbon-track" id="ribbonTrack">
            <!-- Ribbon items will be added by JavaScript -->
        </div>
    </div>
    <script src ="static/nextpage.js"></script>
</body>
</html>
